#eventTitle{
    color: white;
    text-align: center;
}
#eventBody{
    color: white;
    text-align: center;

}

#eventCard{
    width: 100%;
    height: max-content;
    background-color: #1d1d1d;
    background-size: 32px 32px;
    background-image:
    
     linear-gradient(to right, #7070700d 1px, transparent 1px),
     linear-gradient(to bottom, #7070700d 1px, transparent 1px);
}

